body {
  font-family: 'Raleway', sans-serif;
  background-color: #fefeff;
}

@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  /* Basic */
  --c-white: #fff;
  --c-black: #000;

  /* // Greys */
  --c-ash: #eaeef6;
  --c-charcoal: #a0a0a0;
  --c-void: #141b22;

  /* // Beige/Browns */
  --c-fair-pink: #FFEDEC;
  --c-apricot: #FBC8BE;
  --c-coffee: #754D42;
  --c-del-rio: #917072;

  /* // Greens */
  --c-java: #1FCAC5;

  /* // Purples */
  --c-titan-white: #f1eeff;
  --c-cold-purple: #a69fd6;
  --c-indigo: #6558d3;
  --c-governor: #4133B7;
}

body {
  font-family: "Spline Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--c-ash);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  width: 90%;
  max-width: 1000px;
  margin: 2vh auto;
}

.card {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
  /* max-width: 300px; */
}

.information {
  background-color: var(--c-white);
  padding: 1.5rem;
}

tag {
  display: inline-block;
  background-color: var(--c-titan-white);
  color: var(--c-indigo);
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
  /* & + * {
			margin-top: 1rem;
		} */
}

.title {
  font-size: 1.5rem;
  color: var(--c-void);
  line-height: 1.25;
  /* & + * {
			margin-top: 1rem;
		} */
}

.info {
  color: var(--c-charcoal);
  /* & + * {
			margin-top: 1.25rem;
		} */
}

.button {
  font: inherit;
  line-height: 1;
  background-color: var(--c-white);
  border: 2px solid var(--c-indigo);
  color: var(--c-indigo);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  /* &:hover,
		&:focus {
			background-color: var(--c-indigo);
			color: var(--c-white);
		} */
}

/* .details {
		display: flex;
		gap: 1rem;
		div {
			padding: .75em 1em;
			background-color: var(--c-titan-white);
			border-radius: 8px;
			display: flex;
			flex-direction: column-reverse;
			gap: .125em;
			flex-basis: 50%;
		} */

dt {
  font-size: .875rem;
  color: var(--c-cold-purple);
}

dd {
  color: var(--c-indigo);
  font-weight: 600;
  font-size: 1.25rem;
}




.plan {
  padding: 10px;
  background-color: var(--c-white);
  color: var(--c-del-rio);
}
  strong {
    font-weight: 600;
    color: var(--c-coffee);
  }

  .inner {
    padding: 20px;
    padding-top: 40px;
    background-color: var(--c-fair-pink);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }

  .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--c-apricot);
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: .625em .75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--c-coffee);
    /* small {
			color: var(--c-del-rio);
			font-size: .75em;
			margin-left: .25em;
		} */


  }

  .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--c-coffee);
    /* & + * {
			margin-top: .75rem;
		} */
  }

  /* .info {
		& + * {
			margin-top: 1rem;
		} */


.features {
  display: flex;
  flex-direction: column;

  /* li {
    display: flex;
    align-items: center;
    gap: .5rem;

    &+* {
      margin-top: .75rem;
    }
  } */

  /* icon {
    background-color: var(--c-java);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--c-white);
    border-radius: 50%;
    width: 20px;
    height: 20px;

    svg {
      width: 14px;
      height: 14px;
    }
  } */

  /* &+* {
    margin-top: 1.25rem;
  } */


/* button {
  font: inherit;
  background-color: var(--c-indigo);
  border-radius: 6px;
  color: var(--c-white);
  font-weight: 500;
  font-size: 1.125rem;
  width: 100%;
  border: 0;
  padding: 1em;

  /* &:hover,
  &:focus {
    background-color: var(--c-governor);
  } */
} 




@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Exo', sans-serif;
}


.context {
  width: 100%;
  position: absolute;
  top: 50vh;

}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area {
  background: rgb(254, 254, 254);
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;


}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(252, 117, 117, 0.4);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call_to-btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

/* .hero_section .call_to-btn {} */

.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  transform: translateY(-7px);
}

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header_section {
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;

}

nav.navbar.navbar-expand-lg {

  padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #f7f6f7;
  text-align: center;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top_container {
  position: relative;
}



.top_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/hero-bg3.png);
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.sub_page .top_container::before {
  /* background-color: #fdd31d; */
  background-image: none;
}

.top_container::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  bottom: 20%;
  left: 6%;
  /* background-color: #fdd31d; */
}


.sub_page .top_container::after {
  display: none;
}


.navbar-brand img {
  width: 25px;
  margin-right: 7px;
}


.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #fefefe;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/

/* hero section */
.hero-container {
  display: flex;
  padding-top: 90px;
  padding-bottom: 325px;
}

.hero_detail-box {
  width: 40%;
  font-size: 20px;
}

.hero_img-container {
  width: 67%;
  margin-right: -8%;
  margin-top: -5%;
}

.hero_img-container img {
  width: 100%;
}

.hero_detail-box {
  color: #fefeff;
}

.hero_detail-box h1 {
  font-size: 50px;
  color: #fefeff;
  font-weight: 600;
  width: 70%;
}


.hero_detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
}


/* end hero section */

/* common style for some sections */
/* .common_style>section {
  padding: 50px 0;
} */

.common_style .row {
  align-items: center;
}

.common_style h3 {
  font-weight: 600;
  color: #151516;
}

.common_style p {
  font-weight: 600;
  color: #4e4f50;
  margin: -5px 15px 15px 15px;
}

.common_style img {
  width: 100%;
}

/* end common style */

/* about section */
.about_section {
  text-align: center;
}

.about_section a {
  background-color: #ff0000;
  color: #fefeff;
}

/* end about section */

/* admission section */


.admission_section a {
  background-color: #fdd31d;
  color: #fefeff;
}

/* end admission section */

/* why section */

.why_section {
  text-align: right;
}

.why_section a {
  background-color: #6ebca8;
  color: #fefeff;
}

/* end why section */

/* determine section */


.determine_section a {
  background-color: #fdd31d;
  color: #fefeff;
}


/* end determine section */

/* client section */
.client_section h2,
.client_section h5,
.client_section p {
  font-weight: 600;
}

.client_section h2 {
  text-align: center;
}


.client_section h5 {
  font-size: 24px;
  color: #fdd31d;
}

.client_section .row {
  align-items: center;
  padding: 75px 0;
  margin: 0 15px;
}

.client_section img {
  width: 100%;
}

.client_img-box::before,
.client_img-box::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: #fdd31d;
}

.client_img-box::before {
  top: -15px;
  transform: rotate(139deg);
  left: -15px;
  animation: beforeanimate 1s;
  animation-delay: .1s;
}

.client_img-box::after {
  bottom: -15px;
  transform: rotate(142deg);
  right: -15px;
  animation: afteranimate 1s;
  animation-delay: .1s;
}


@keyframes beforeanimate {
  0% {
    top: 43%;
    transform: rotate(142deg);
    left: 31%;

  }

  100% {
    top: -15px;
    transform: rotate(139deg);
    left: -15px;
  }
}

@keyframes afteranimate {
  0% {
    bottom: 46%;
    transform: rotate(142deg);
    right: 35%;
  }

  100% {
    bottom: -15px;
    transform: rotate(142deg);
    right: -15px;
  }
}

.client_section .carousel-indicators {
  margin: 0;
  justify-content: flex-end;
  padding-right: 15px;
  bottom: 20px;
}

.client_section .carousel-indicators li {
  width: 25px;
  height: 25px;
  background-color: #6bd1bd;
  border-radius: 100%;
  opacity: 1;
}

.client_section .carousel-indicators li.active {
  background-color: #fdd31d;
}

/* end client section */

/* contact section */

.contact_section {
  padding: 75px 45px;
  font-family: 'Poppins', sans-serif;
}

.contact_section .row {
  align-items: center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 90%;
  margin: 15px 0;
}



.contact_form-container button {
  border: none;
  background-color: #6bd1bd;
  color: #fff;
  font-size: 15px;
  padding: 15px 45px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_img-box {

  display: flex;
  align-items: center;

}

.contact_img-box img {
  width: 100%;
}

.contact_section h2 {
  font-size: 26px;
  color: #010103;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 35px;
}


/* end contact section */


/* info section */
.info_section {
  background-color: #363636;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.info_logo-box {
  display: flex;
  justify-content: center;
}

.info_logo-box h2 {
  font-weight: bold;
  padding: 5px 7px;
  border-bottom: 1.5px solid #fdd31d;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #ffffff;
}

.info_section ul li a:hover {
  color: #fdd31d;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}



.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}

.info_section .form_container input::placeholder {
  color: #ccc8c8;
}

.info_section .form_container button {
  background-color: #fdd31d;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.social_container {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #898989;
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

/* end info section */

/* footer section*/

.footer_section {
  background-color: #d8b109;
  padding: 20px 15px;
  font-family: 'Poppins', sans-serif;

}

.footer_section p {
  color: #fdfdfe;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fdfdfe;
}



/* end footer section*/